<center style="font-size: 40px"><%= t('service').capitalize %></center>
<div class="novana_ulanekas_wrapper">

  <div class="novana_ulanekas">

    <% @services.each do |service| %>
      <div class="site-section">
        <div class="block__73694 mb-2" id="services-section">
          <div class="container">
            <div class="row d-flex no-gutters align-items-stretch">
              <div class="col-12 col-lg-6 block__73422" data-aos="fade-right" data-aos-delay="">
                <%= image_tag(service.image, style:'width: 50%') %>
              </div>
              <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="">
                <h2 class="mb-3 text-black"><%= service.name_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %></h2>
                <h2 class="mb-3 text-black"><%= service.name_ru if params[:locale] == 'ru' %></h2>
                <h2 class="mb-3 text-blac"><%= service.name_tm if params[:locale] == 'tm' %></h2>
                <p><%= simple_format service.text_ru.length <= 300 ? service.text_ru : service.text_ru[0..300] + '...' if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru'%></p>
                <p><%= simple_format service.text_ru.length <= 300 ? service.text_ru : service.text_ru[0..300] + '...' if params[:locale] == 'ru' %></p>
                <p><%= simple_format service.text_tm.length <= 300 ? service.text_tm : service.text_tm[0..300] + '...' if params[:locale] == 'tm' %></p>
                <%= link_to service_path(service) do %>
                  <%= t('more')%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
