<center>
  <h1><%= t('search_show')%></h1>
  <h2>

    <%= @labelrent.name if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
    <%= @labelrent.name if params[:locale] == 'ru' %>
    <%= @labelrent.name_tm if params[:locale] == 'tm' %>
  </h2>

</center>


<% if @search != nil %>
  <div class="container" style="background-color: rgba(169,169,169, 0.2);">
  <h1>
  <%= @search.title_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
  <%= @search.title_ru if params[:locale] == 'ru' %>
  <%= @search.title_tm if params[:locale] == 'tm' %>
  <% if current_user %>
    <% if current_user.id == @search.username_id %>
      <%= link_to edit_search_path(@search) do %>
        <span class="icon-pencil"></span>
      <% end %>
    <% end %>
  <% end %>
  </h1>
<div class="card" style="width: 10rem;">
  <% if @search.image.attached? %>
    <%= image_tag(@search.image)%>
  <% else %>
    <%= image_tag(@no) %>
  <% end %>
  </div>
  <hr>
  <%= t('sales.brand')%><div><%= @brand.name %></div>
  <hr>
  <% if @search.model_id == nil %>
    <%= t('sales.model')%><div><%= t('sales.nomodel')%></div>
  <% else %>
    <%= t('sales.model')%><div><%= @model.name %></div>
  <% end %>
  <hr>
  <%= t('sales.year')%><div><%= @search.year %></div>
  <hr>
  <%= t('sales.price')%><div><%= @search.price %></div>
  <hr>
  <%= t('sales.about')%>
  <div>
    <%= @search.text_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
    <%= @search.text_ru if params[:locale] == 'ru' %>
    <%= @search.text_tm if params[:locale] == 'tm' %>
  </div>
  <hr>
    <%= t('sales.phones')%><div><a href="tel:<%= @search.phone %>"><%= @search.phone %></a></div>
  <hr>
    E-mail:
  <div>
    <%= mail_to @search.email %>
  </div>
  <hr>
  <%= check_box_tag 'admin', '1', @search.cashless, :disabled => true %><%= t('sales.cashless') %>
  <hr>
  <%= @region.name if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
  <%= @region.name if params[:locale] == 'ru' %>
  <%= @region.name_tm if params[:locale] == 'tm' %>
  <hr>
  <div class="row">
    <% @search.images.each do |image|%>
      <div class="col-6 col-md-2">

          <%= image_tag(image, class:'productsimages rounded open-popup')%>

      </div>


  <% end %>
  </div>
  </div>
  <% elsif %>
  <div class="parallax">
    <%= image_tag(@dealdone, style:'width: 100%; opacity:.2;') %>
    <center>
    <div class="centered">

      <%= t('purchase.purchase')%>

      <%= link_to root_path, class:'btn btn-light' do %>
        <%= t('sale.sales_back')%>

    </div>
    </center>
    <% end %>
<% end %>
</div>
<br>
