<center>
  <% if params[:id] == '1' %>
    <h1>ПРОДАЖА АВТОМОБИЛИ</h1>
  <% elsif params[:id] == '2' %>
    <h1>ПРОДАЖА СТРОИТЕЛЬНАЯ ТЕХНИКА</h1>
  <% end %>
</center>
<div class="container">
  <div class="row">
    <% if params[:id] == '1' %>
      <% @saf.each do |sale| %>
    <div class="col">
      <% if sale.image.attached? %>
        <%= image_tag(sale.image, style:'width:150px; height: 100px')%>
      <% else %>
        <%= image_tag(@no, style:'width:150px; height: 100px') %>
      <% end %>
      <h6>
        <%= sale.title_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
        <%= sale.title_ru if params[:locale] == 'ru' %>
        <%= sale.title_tm if params[:locale] == 'tm' %>
      </h6>
      <%= link_to 'Подробнее', [:more, sale] if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
      <%= link_to 'Подробнее', [:more, sale] if params[:locale] == 'ru' %>
      <%= link_to 'has giňişleýin maglumat', [:more, sale] if params[:locale] == 'tm' %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <% if params[:id] == '2' %>
      <% @stf.each do |sale| %>
        <div class="col">
          <% if sale.image.attached? %>
            <%= image_tag(sale.image, style:'width:150px; height: 100px')%>
          <% else %>
            <%= image_tag(@no, style:'width:150px; height: 100px') %>
          <% end %>
          <h6>
            <%= sale.title_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
            <%= sale.title_ru if params[:locale] == 'ru' %>
            <%= sale.title_tm if params[:locale] == 'tm' %>
          </h6>
          <%= link_to 'Подробнее', [:more, sale] if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
          <%= link_to 'Подробнее', [:more, sale] if params[:locale] == 'ru' %>
          <%= link_to 'has giňişleýin maglumat', [:more, sale] if params[:locale] == 'tm' %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
