

<style>
 .scale {
  transition: 1s; /* Время эффекта */
 }
 .scale:hover {
  transform: scale(5); /* Увеличиваем масштаб */
 }
</style>
<center>
    <h1><%= t('sale_show')%></h1>




</center>
  <% if @sale != nil %>
    <div class="container" style="background-color: rgba(169,169,169, 0.2);">
    <h1>
    <%= @sale.title_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
    <%= @sale.title_ru if params[:locale] == 'ru' %>
    <%= @sale.title_tm if params[:locale] == 'tm' %>
    </h1>
<div class="card" style="width: 10rem;">
    <% if @sale.image.attached? %>
      <%= image_tag(@sale.image)%>
    <% else %>
      <%= image_tag(@no) %>
    <% end %>
    </div>
    <hr>
    <%= t('sales.brand')%><div><%= @brand.name %></div>
    <hr>
    <% if @sale.model_id == nil %>
      <%= t('sales.model')%><div><%= t('sales.nomodel')%></div>
    <% else %>
      <%= t('sales.model')%><div><%= @model.name %></div>
    <% end %>
    <hr>
    <%= t('sales.year')%><div><%= @sale.year %></div>
    <hr>
    <%= t('sales.price')%><div><%= @sale.price %></div>
    <hr>
    <%= t('sales.about')%>
    <div>
      <%= @sale.text_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
      <%= @sale.text_ru if params[:locale] == 'ru' %>
      <%= @sale.text_tm if params[:locale] == 'tm' %>
    </div>
    <hr>
    <%= t('sales.phones')%><div><a href="tel:<%= @sale.phone %>"><%= @sale.phone %></a></div>
    <hr>
      E-mail:
    <div>
      <% if params[:locale] == 'ru' %>
        <%= mail_to @sale.email, subject: @sale.title_ru do %>
          <%= @sale.email %>
        <% end %>
      <% elsif params[:locale] == 'tm' %>
        <%= mail_to @sale.email, subject: @sale.title_tm do %>
          <%= @sale.email %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <%= check_box_tag 'admin', '1', @sale.cashless, :disabled => true %><%= t('sales.cashless') %>
    <hr>
    <%= @region.name if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
    <%= @region.name if params[:locale] == 'ru' %>
    <%= @region.name_tm if params[:locale] == 'tm' %>
    <hr>
    <div class="row">
      <% @sale.images.each do |image|%>
        <div class="col-6 col-md-2">

            <%= image_tag(image, class:'productsimages rounded open-popup')%>

        </div>


    <% end %>
    </div>
    <% else %>
    <div class="parallax">
      <%= image_tag(@dealdone, style:'width: 100%; opacity:.2;') %>
      <center>
      <div class="centered" style="margin-top: -500px">

        <%= t('sale.sales')%>

        <%= link_to root_path, class:'btn btn-light' do %>
          <%= t('sale.sales_back')%>
        <% end %>
      </div>
      </center>
      </div>
  <% end %>

  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
